@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");

* {
  margin:0;
  padding:0;
  font-family: 'Poppins', sans-serif;
}

body {
  height: 100vh;
  background:black;
}

.navbar {
  width:100%;
  background:black;
  opacity:0.5;
  overflow:hidden;
  position:fixed;
  padding:3px;
  z-index:10000000;
  transition:opacity 0.3s;
}

.navbar:hover {
  opacity:1;
}

li {
  color:white;
  display: inline;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

a:link{
  text-decoration:none;
}

a {
  color:#ffffff;
}

.navbar-tabs{
  font-family:'Poppins';
  font-size:22px;
  color:#FFFFFF;
  transition: padding 0.1s;
}

.navbar-tabs:hover
{
  color:#ffffff;
  font-weight:bold;
  padding:5px;
}

section {
  position: relative;
  height: 100vh;
  width:100%;
  overflow:hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 10px #000;
}

#sec1 {
  color:black;
  text-shadow: 0 0 10px #fff;
}

#sec2 {
  height: 20vh;
  align-items:center;
}

#sec3 {
  height: 50vh;
  align-items:center;
  background:white;
}

#sec4 {
  padding:50px;
  position: relative;
  font-size: 1.15em;
  text-align:justify;
  margin:50px;
  text-shadow: 0px 0px 20px #000;
}

section:before {
  content: '';
  position:absolute;
  bottom:0;
  width:100%;
  height:100px;
  z-index:10000;
}

section:after {
  content: '';
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:10000;
}

section img {
  opacity: 1;
  filter:blur(0px);
  position:absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  object-fit: cover;
  pointer-events: none;
}

.text {
  position: relative;
  color:#fff;
  font-size: 5em;
  z-index: 1;
}

#blog-title {
  position: relative;
  color:#fff;
  font-size: 3em;
  z-index: 1;
}

#para {
  position: relative;
  color:#000;
  font-size: 20px;
  text-align:justify;
  margin:50px;
}

.footer {
  font-family:'Poppins';
  text-align:center;
  color:black;
  background:white;
  font-size:1em;
  height:5vh;
  position:relative;
}

#about-img {
  width:35%;
  height:auto;
  top: 200;
  left:115;
  position:absolute;
  display:block;
  box-shadow:10px 20px 90px black;
  opacity:0;
}

.about {
  color:black;
  font-family:'Poppins';
  text-align:center;
  align-items:center;
  height:35vh;
  font-size:2em;
}

.about-text {
  font-size:1.25em;
  height:100vh;
  align-items:center;
}

.column {
  background:#d1d1d1;
  color:white;
  float:left;
  width:50%;
  height:100vh;
}

.row {
  position: relative;
  width:100%;
  overflow:hidden;
  display: flex;
  justify-content: center;
  text-shadow: 0 0 10px #fff;
}

.fa {
  font-size:24px;
  transition: font-size 0.15s;
}

.fa:hover {
  color:#0e76a8;
  font-size:28px;
  font-weight:bold;
}